			<!-- footer-legal -->
			<section class="footer-legal col-sm-12 col-md-3">
				<p>Copyright &copy; 1995-<script>document.write(new Date().getFullYear())</script><br>
								Iowa State University<br>
								of Science and Technology<br>
								All rights reserved.</p>
				<ul>
					<li><a href="http://www.policy.iastate.edu/policy/discrimination">Non-discrimination Policy</a></li>
					<li><a href="http://www.policy.iastate.edu/electronicprivacy">Privacy Policy</a></li>
					<li><a href="http://digitalaccess.iastate.edu">Digital Access &amp; Accessibility</a></li>
				</ul>
			</section>
